---
layout: evergreen
title: Browser Recommendations
---

<p class="lead">
  These are our current web browser recommendations, settings, and add-ons you can use to preserve your privacy.
</p>

{% assign firefox = site.browsers | where:"name","Firefox" %}
{% for post in firefox %}
{% include recommendation-1.html %}
{% endfor %}

{% assign tor = site.browsers | where:"name","Tor Browser" %}
{% for post in tor %}
{% include recommendation-1.html %}
{% endfor %}

<h2>Worth Mentioning</h2>

<h2>Anti-Recommendations</h2>

<h5><i class="fab fa-chrome fa-fw text-danger"></i> Google Chrome</h5>
<p class="mx-4">Google Chrome is completely controlled by Google, and taps into your browsing history to track you across the web and serve you targeted advertisements. Because of Google's interest in increased ad revenues, Google Chrome offers [no privacy protections](https://www.washingtonpost.com/technology/2019/06/21/google-chrome-has-become-surveillance-software-its-time-switch/) out of the box compared to Firefox, and has taken anti-user steps to [block common extensions like adblockers](https://www.wired.com/story/google-chrome-ad-blockers-extensions-api/). It's best to avoid this browser at all costs.</p>
<h5><img src="/assets/img/brands/icons/brave.svg" class="fa-fw" /> Google Chrome</h5>
