---
layout: page
permalink: /providers/
title: "Providers"
description: "There's a ton of people providing services online. Discover which ones you should avoid and our recommendations for a variety of services."
---

<div class="card card-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/cloud"><span class="fad fa-cloud fa-fw"></span> Cloud Storage</a></li>
    <li class="list-group-item"><a href="/providers/dns"><span class="fad fa-map-signs fa-fw"></span> DNS Servers</a></li>
    <li class="list-group-item"><a href="/providers/email"><span class="fad fa-envelope fa-fw"></span> Email Providers</a></li>
    <li class="list-group-item"><a href="/search-engines"><i class="fad fa-search-location fa-fw"></i> Search Engines</a></li>
    <li class="list-group-item"><a href="/providers/social-networks"><span class="fad fa-thumbs-up fa-fw"></span> Social Networks</a></li>
    <li class="list-group-item"><a href="/providers/social-news-aggregator"><span class="fad fa-newspaper fa-fw"></span> Social News Aggregators</a></li>
    <li class="list-group-item"><a href="/providers/vpn"><span class="fad fa-network-wired fa-fw"></span> VPN Services</a></li>
  </ul>
</div>

{% include legacy/sections/fourteen-eyes.html %}

{% include legacy/sections/key-disclosure-law.html %}

{% include legacy/sections/warrant-canary.html %}
