# Additional Co-Owners are added to the TOP of this file

# High-traffic pages
/docs/index.en.md @jonaharagon @dngray
/theme/overrides/ @jonaharagon

# Org
/docs/about/ @jonaharagon
LICENSE @jonaharagon
README.md @jonaharagon @dngray

# Ops
/Pipfile @jonaharagon
/Pipfile.lock @jonaharagon
/.github/ @jonaharagon
/.well-known/ @jonaharagon
