# Additional Co-Owners are added to the TOP of this file.

# High-traffic pages
/docs/index.md @JonahAragon @dngray
/theme/overrides/ @JonahAragon

# Org
/docs/about/ @JonahAragon
LICENSE @JonahAragon

# Ops
/.github/ @JonahAragon
/.well-known/ @JonahAragon
