site
/i18n/
/includes/*.*.*
!/includes/*.en.*
/static/i18n/
/theme/overrides/*.*.*

# commit social card fonts to repo
# see: https://github.com/squidfunk/mkdocs-material/issues/6983
# ridiculous hide-and-seek https://stackoverflow.com/a/72380673
.cache/*
!.cache/plugin
/.cache/plugin/*
!.cache/plugin/social
/.cache/plugin/social/*
!.cache/plugin/social/fonts

# Local Netlify folder
.netlify
node_modules

# Python
.venv
.env
.mkdocs-insiders-*
