[submodule "mkdocs-material-insiders"]
	path = modules/mkdocs-material
	url = git@github.com:privacyguides/mkdocs-material-insiders.git
[submodule "docs/assets/brand"]
	path = docs/assets/brand
	url = https://github.com/privacyguides/brand.git
[submodule "mkdocs-static-i18n"]
	path = modules/mkdocs-static-i18n
	url = git@github.com:privacyguides/mkdocs-static-i18n.git
