site
/i18n/
/includes/*
!/includes/*.en.*
/static/i18n/*
!/static/i18n/*.en.*
/theme/overrides/*
!/theme/overrides/*.en.*

# commit social card fonts to repo
# see: https://github.com/squidfunk/mkdocs-material/issues/6983
# ridiculous hide-and-seek https://stackoverflow.com/a/72380673
.cache/*
!/config/.cache
/config/.cache/*
!/config/.cache/plugin
/config/.cache/plugin/*
!/config/.cache/plugin/social
/config/.cache/plugin/social/*
!/config/.cache/plugin/social/fonts

# Local Netlify folder
.netlify
node_modules
