# SPDX-FileCopyrightText: 2020 Jonah Aragon <jonah@privacyguides.org>
#
# SPDX-License-Identifier: MIT OR CC-BY-SA-4.0

# Auto detect text files and perform LF normalization
* text=auto

docs/** -linguist-documentation
.git* text
*.json text
*.js text
*.md text linguist-detectable
*.{yml,yaml} text
*.{htm,html} text diff=html

*.svg text
*.png binary
*.{jpeg,jpg} binary
