[submodule "mkdocs-material-insiders"]
	path = modules/mkdocs-material
	url = git@github.com:privacyguides/mkdocs-material-insiders.git
[submodule "docs/assets/brand"]
	path = theme/assets/brand
	url = https://github.com/privacyguides/brand.git
