---
layout: default
---

<div class="p-5 mb-3 bg-primary">
  <div class="container">
    <div class="row text-800">
      <div class="col-lg-8 col-12 mt-4">
        <h1 class="display-3 pt-3 mt-5">The guide to restoring your online privacy.</h1>
        <h5 class="mt-5">Massive organizations are monitoring your online activities. Privacy Guides is your central privacy and security resource to protect yourself online.</h5>
      </div>
      <div class="col-4 p-5 d-none d-lg-block">
        {% include svg/surveillance-eye.svg %}
      </div>
    </div>
  </div>
</div>

<div class="container my-5 p-5">

  <div class="row">
    <div class="col-lg-10 col-12 text-end">
      <h2 class="mt-4">Why should I care?</h2>
      <h5 class="mt-2">“I have nothing to hide. Why should I care about my privacy?”</h5>
      <p class="mt-2">Much like the right to interracial marriage, woman's suffrage, freedom of speech, and many others, we didn't always have the right to privacy. In several dictatorships, many still don't. Generations before ours fought for our right to privacy. <mark>Privacy is a human right inherent to all of us</mark>, that we are entitled to without discrimination.</p>
      <p>You shouldn't confuse privacy with secrecy. We know what happens in the bathroom, but you still close the door. That's because you want privacy, not secrecy. <strong>Everyone</strong> has something to hide, privacy is something that makes you human.</p>
    </div>
    <div class="col-2 d-none d-lg-block">
      {% include svg/phone-like-icon.svg %}
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2 d-none d-lg-block">
      {% include svg/plan-icon.svg %}
    </div>
    <div class="col-lg-10 col-12">
      <h2 class="mt-4">What should I do?</h2>
      <h5 class="mt-2">First, you need to make a plan.</h5>
      <p class="mt-2">Trying to protect <strong>all</strong> your data from <strong>everyone</strong> all the time is impractical, expensive, and exhausting. But, don't worry! Security is a process, and by thinking ahead you can put together a plan that's right for <strong>you</strong>. Security isn't just about the tools you use or the software you download. Rather, it begins with understanding the unique threats you face, and how you can counter them.</p>
      <p><mark>This process of identifying threats and defining countermeasures is called <strong>threat modeling</strong></mark>, and it forms the basis of every good security and privacy plan.</p>
      <a href="/threat-modeling/" class="btn btn-primary mt-2">Learn More About Threat Modeling</a>
    </div>
  </div>

</div>

<div class="p-5 bg-secondary text-light">
  <div class="container">
    <div class="row mt-3">
      <div class="col text-center">
        <h2>Privacy Tools</h2>
        <p>The devices, software, and services that will protect your privacy highly depend on your use case, workflow, and threat model. But, if you don't know where to get started, we've chosen some recommended tools to get you going :)</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6 col-sm-4 col-md-3 mt-3">
        <a href="/browsers/">
          <div class="card text-center mx-auto" style="width: 160px;">
            <div class="card-body">
              <span class="card-title display-4"><i class="fal fa-compass mb-3" aria-hidden="true"></i></span>
              <p class="card-subtitle">Browsers</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 mt-3">
        <a href="/software/">
          <div class="card text-center mx-auto" style="width: 160px;">
            <div class="card-body">
              <span class="card-title display-4"><i class="fal fa-file-code mb-3" aria-hidden="true"></i></span>
              <p class="card-subtitle">Software</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 mt-3">
        <a href="/operating-systems/">
          <div class="card text-center mx-auto" style="width: 160px;">
            <div class="card-body">
              <span class="card-title display-4"><i class="fal fa-desktop mb-3" aria-hidden="true"></i></span>
              <p class="card-subtitle">OS</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 mt-3">
        <a href="/providers/">
          <div class="card text-center mx-auto" style="width: 160px;">
            <div class="card-body">
              <span class="card-title display-4"><i class="fal fa-cloud mb-3" aria-hidden="true"></i></span>
              <p class="card-subtitle">Providers</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <div class="col text-center">
      <h2>We need you! Here's how to get involved</h2>
    </div>

    <p>It's important for a website like Privacy Guides to always stay up-to-date. We need our audience to keep an eye on software updates for the applications listed on our site and follow recent news about providers that we recommend. We try our best to keep up, but we're not perfect and the internet is changing fast. If you find an error, or you think a provider should not be listed here, or a qualified service provider is missing, or a browser plugin is not the best choice anymore, or anything else... <strong>Talk to us please</strong>.</p>
  </div>
  <div class="row">
    <div class="col text-center py-2">
      <a href="https://www.reddit.com/r/privacyguides" class="btn btn-dark btn-lg"><i class="fab fa-reddit-alien fa-fw"></i> Join r/PrivacyGuides on Reddit</a>
    </div>
  </div>
  <div class="row">
    <div class="col text-center py-2">
      <a href="https://twitter.com/privacy_guides" class="btn btn-dark btn-lg"><i class="fa-brands fa-twitter fa-fw"></i> Follow @privacy_guides on Twitter</a>
    </div>
  </div>
  <div class="row">
    <div class="col text-center py-2">
      <a href="https://github.com/privacyguides/privacyguides.org" class="btn btn-dark btn-lg"><i class="fa-brands fa-github fa-fw"></i> Edit This Site on GitHub</a>
    </div>
  </div>
  <div class="row">
    <div class="col text-center py-2">
      <a href="https://matrix.to/#/#privacyguides:aragon.sh" class="btn btn-dark btn-lg"><i class="fa-solid fa-comments-question-check fa-fw"></i> Chat With Us on Matrix</a>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <div class="col text-center">
      <h2>Latest Updates</h2>
    </div>
  </div>
  <div class="row">
  {% for post in site.posts limit:2 %}
    {% include blog-card.html %}
  {% endfor %}
  </div>
  <div class="row my-3">
    <div class="col text-center">
      <a href="/blog/" class="btn btn-primary mt-2">Read More <i class="far fa-chevron-circle-right fa-fw"></i></a>
    </div>
  </div>
</div>

<div class="container mb-5">
  {% include footer.html %}
</div>
