docs_dir: 'docs'
site_url: "https://www.privacyguides.org/"
site_dir: 'site'

site_name: Privacy Guides
site_description: |
  Privacy Guides is your central privacy and security resource to protect yourself online.
copyright: |
  <b>Privacy Guides</b> is a non-profit, socially motivated website that provides information for protecting your data security and privacy.<br>
  We do not make money from recommending certain products, and we do not use affiliate links.<br>
  This content was made available by the Privacy Guides team and contributors. <a href="https://github.com/privacyguides/privacyguides">Get involved</a>!

extra:
  social:
    - icon: simple/matrix
      link: https://matrix.to/#/#privacyguides:matrix.org
      name: Matrix
    - icon: simple/reddit
      link: https://reddit.com/r/PrivacyGuides
      name: Reddit
    - icon: simple/mastodon
      link: https://mastodon.social/@privacyguides
      name: Mastodon
    - icon: simple/twitter
      link: https://twitter.com/privacy_guides
      name: Twitter
    - icon: simple/github
      link: https://github.com/privacyguides
      name: GitHub
repo_url: https://github.com/privacyguides/privacyguides.org
repo_name: ""
edit_uri: edit/main/docs/

theme:
  name: material
  custom_dir: theme
  logo: assets/brand/SVG/Logo/privacy-guides-logo-notext-colorbg.svg
  favicon: assets/brand/PNG/Favicon/favicon-32x32.png
  icon:
    repo: simple/github
  font: false
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
  palette:
    - scheme: default
      accent: deep purple
      toggle:
        icon: material/brightness-5
        name: Switch to dark mode
    - scheme: slate
      accent: amber
      toggle:
        icon: material/brightness-2
        name: Switch to light mode

watch:
  - theme
  - includes

plugins:
  i18n:
    default_language: en
    material_alternate: true
    languages:
      en:
        name: English
        build: false
  tags: {}
  search: {}
  macros:
    on_error_fail: true
    include_yaml:
      - data/articles.yml

markdown_extensions:
  admonition: {}
  pymdownx.details: {}
  pymdownx.superfences:
    custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  pymdownx.tabbed:
    alternate_style: true
  pymdownx.arithmatex:
    generic: true
  pymdownx.critic: {}
  pymdownx.caret: {}
  pymdownx.keys: {}
  pymdownx.mark: {}
  pymdownx.tilde: {}
  pymdownx.snippets:
    auto_append:
      - includes/abbreviations.en.md
  pymdownx.tasklist:
    custom_checkbox: true
  attr_list: {}
  def_list: {}
  md_in_html: {}
  meta: {}
  abbr: {}
  pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
    options:
      custom_icons:
        - theme/.icons
  tables: {}
  footnotes: {}
  toc:
    permalink: true
    toc_depth: 4

extra_css:
  - assets/stylesheets/extra.css?v=2.10.0
extra_javascript:
  - assets/javascripts/mathjax.js
  - assets/javascripts/feedback.js

nav:
  - Home: 'index.md'
  - 'Knowledge Base':
    - 'The Basics':
      - 'basics/threat-modeling.md'
      - 'basics/common-threats.md'
      - 'basics/passwords-overview.md'
      - 'basics/multi-factor-authentication.md'
      - 'basics/account-deletion.md'
      - 'basics/email-security.md'
      - 'basics/vpn-overview.md'
      - 'basics/tor-overview.md'
      - 'basics/dns-overview.md'
    - 'Android':
      - 'android/overview.md'
      - 'android/grapheneos-vs-calyxos.md'
    - 'Linux':
      - 'linux-desktop/overview.md'
      - 'linux-desktop/hardening.md'
      - 'linux-desktop/sandboxing.md'
    - 'Real-Time Communication':
      - 'real-time-communication/communication-network-types.md'
      - 'real-time-communication/signal-configuration-hardening.md'
    - 'Advanced':
      - 'advanced/integrating-metadata-removal.md'
      - 'advanced/erasing-data.md'
  - 'Recommendations':
    - 'tools.md'
    - 'Internet Browsing':
      - 'tor.md'
      - 'desktop-browsers.md'
      - 'mobile-browsers.md'
    - 'Operating Systems':
      - 'android.md'
      - 'linux-desktop.md'
      - 'qubes.md'
      - 'router.md'
    - 'Providers':
      - 'cloud.md'
      - 'dns.md'
      - 'email.md'
      - 'search-engines.md'
      - 'vpn.md'
    - 'Software':
      - 'calendar-contacts.md'
      - 'data-redaction.md'
      - 'email-clients.md'
      - 'encryption.md'
      - 'file-sharing.md'
      - 'multi-factor-authentication.md'
      - 'news-aggregators.md'
      - 'notebooks.md'
      - 'passwords.md'
      - 'productivity.md'
      - 'real-time-communication.md'
      - 'media-streaming.md'
  - 'About':
    - 'about.md'
    - 'coc.md'
    - 'about/donate.md'
    - 'Online Services': 'https://privacyguides.net'
    - 'Website Statistics': 'https://stats.privacyguides.net/privacyguides.org'
    - 'about/notices.md'
    - 'about/privacy-policy.md'
  - 'Donate': '/about/donate/'
  - 'Discussions': 'https://github.com/privacyguides/privacyguides.org/discussions'
  - 'Articles':
    - 'articles.md'
    - '2022':
      - '"Hide Nothing"': 'blog/2022/06/09/hide-nothing.md'
      - '"Move Fast and Break Things"': 'blog/2022/04/04/move-fast-and-break-things.md'
    - '2021':
      - 'Firefox Privacy: 2021 Update': 'blog/2021/12/01/firefox-privacy-2021-update.md'
      - 'Virtual Insanity': 'blog/2021/11/01/virtual-insanity.md'
      - 'Welcome to Privacy Guides': 'blog/2021/09/14/welcome-to-privacy-guides.md'
