<h2 class="pt-3">Downloads</h2>

<ul class="list-unstyled">
<li><h3 class="h5 pt-3">Desktop/PC</h3><ul class="list-unstyled">
  {% if page.platform_win %}<li><a href="{{ page.platform_win }}" class="text-secondary"><i class="fab fa-windows fa-fw"></i> Download for Windows</a></li>{% endif %}
  {% if page.platform_mac %}<li><a href="{{ page.platform_mac }}" class="text-secondary"><i class="fab fa-app-store fa-fw"></i> Download for macOS</a></li>{% endif %}
  {% if page.platform_linux %}<li><a href="{{ page.platform_linux }}" class="text-secondary"><i class="fab fa-linux fa-fw"></i> Download for Linux</a></li>{% endif %}
  {% if page.platform_bsd %}<li><a href="{{ page.platform_bsd }}" class="text-secondary"><i class="fab fa-freebsd fa-fw"></i> Download for FreeBSD</a></li>{% endif %}
</ul></li>
<li><h3 class="h5 pt-3">Mobile</h3><ul class="list-unstyled">
  {% if page.platform_android %}<li><a href="{{ page.platform_android }}" class="text-secondary"><i class="fab fa-google-play fa-fw"></i> Download for Android</a></li>{% endif %}
  {% if page.platform_fdroid %}<li><a href="{{ page.platform_fdroid }}" class="text-secondary"><i class="fab fa-android fa-fw"></i> Download for Android (F-Droid)</a></li>{% endif %}
  {% if page.platform_ios %}<li><a href="{{ page.platform_ios }}" class="text-secondary"><i class="fab fa-app-store-ios fa-fw"></i> Download for iOS</a></li>{% endif %}
</ul></li>
</ul>
