<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="privacy, anonymity, privacy guides, surveillance, encryption">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.permalink | prepend: site.url | replace:'index.html','' }}">

  <!-- title -->
  {% if page.title %}
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta property="og:title" content="{{ page.title | escape }} | {{ site.title | escape }}" />
  {% else %}
  <title>{{ site.title }}</title>
  <meta property="og:title" content="{{ site.title | escape }}" />
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.permalink | prepend: site.url }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}"/>
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ site.title | escape }}" />

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/layout/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/layout/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/layout/favicon-16x16.png">
  <link rel="manifest" href="/assets/files/meta/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/layout/safari-pinned-tab.svg" color="#ffd06f">
  <link rel="shortcut icon" href="/assets/img/layout/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Privacy Guides">
  <meta name="application-name" content="Privacy Guides">
  <meta name="msapplication-TileColor" content="#ffd06f">
  <meta name="msapplication-config" content="/assets/files/meta/browserconfig.xml">
  <meta name="theme-color" content="#ffd06f">

  <!-- CSS stylesheets -->
  <link href="/assets/css/app.css?v=20210506" rel="stylesheet">
  <link href="/assets/fonts/vendor/fontawesome/css/all.min.css?v=6.0.0-alpha3" rel="stylesheet">
  <link id="dark-css" href="/assets/css/dark.css?v=20210506" rel="stylesheet" media="(prefers-color-scheme: dark)">
</head>
