<nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-0 pb-0 d-none d-lg-block">
  <div class="container">
    <small class="text-light"><a href="https://www.privacytools.io" class="text-reset">&lt; Back to privacytools.io</a></small>
    <div class="collapse navbar-collapse">
      <div class="mr-auto"></div>
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://blog.privacytools.io"><small>Blog</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://forum.privacytools.io/"><small>Forum</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://social.privacytools.io/"><small>Mastodon</small></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://chat.privacytools.io/"><small>Matrix <span class="sr-only">(current)</span></small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.privacytools.io/donate/"><small>Donate ♥</small></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Matrix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="mr-auto"></div>
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#homeserverinfo">Connect</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/privacy/">Privacy</a>
        </li>
      </ul>
  </div>
</nav>
