<h3 class="h4{% if item.type == "Anti-Recommendation" %} text-danger">
  <span class="fad fa-times-octagon fa-fw text-danger"></span>{% else %}">{% endif %} {{ item.title }}
</h3>
{{ item.description | markdownify }}
{% if item.downloads or item.website or item.article %}<p>
  {% capture text %}
  {% if item.article %} | <a href="{% link {{ item.article }} %}">More Information</a>{% endif %}
  {% if item.website %} | <a href="{{ item.website }}">Project Website</a>{% endif %}
  {% if item.downloads %}
  {% for platform in item.downloads %}
  | <i class="{{ platform.icon }} fa-fw"></i> <a href="{{ platform.url }}"> {{ platform.name }}</a>
  {% endfor %}
  {% endif %}
  {% endcapture %}{{ text | remove_first: '| ' }}
</p>{% endif %}
