<div class="card my-5">
  <div class="card-body">
    <div class="row p-3">
      <div class="col-12 col-sm-4 col-md-3 text-center">
        <img src="{{ item.logo }}" alt="{{ item.name }} logo" class="py-5 w-75">
      </div>
      <div class="col-12 col-sm-8 col-md-9 text-center text-md-start pb-4">
        <h2>{{ item.title }}</h2>
        {% if item.info %} <p class="badge rounded-pill bg-info"><i class="fad fa-info-circle"></i> {{ item.info }}</p>{% endif %}
        {% if item.warning %} <p class="badge rounded-pill bg-warning"><i class="fad fa-exclamation-triangle"></i> {{ item.warning }}</p>{% endif %}
        {{ item.description | markdownify }}
        {% if item.downloads %}<p>{% for platform in item.downloads %}
        <a href="{{ platform.url }}"><i class="{{ platform.icon }} fa-fw h2"></i></a>
        {% endfor %}
        </p>{% endif %}
        {% if item.website or item.article %}<div class="pb-2">
        {% if item.article %}<a href="{% link {{ item.article }} %}" class="btn btn-primary mt-1 me-1"><i class="fad fa-info-circle fa-fw"></i>
          More Information</a>{% endif %}
        {% if item.website %}<a href="{{ item.website }}" rel="noopener" class="btn btn-secondary mt-1 me-1"><i class="fad fa-external-link-square fa-fw"></i>
          Visit {{ item.website | remove_first: "www." | split: "/" | slice: 2 }}</a>
          {% if item.privacy_policy %}<a href="{{ item.privacy_policy }}" rel="noopener" class="btn btn-primary mt-1 me-1" title="{{ item.privacy_policy }}"><i class="fas fa-book fa-fw"></i> Privacy Policy</a>{% endif %}
          {% if item.website_tor %}<a href="{{ item.website_tor }}" rel="noopener" class="btn btn-info mt-1 me-1" aria-label="Onion site" title="Visit {{ item.website_tor }} on Tor"><i aria-hidden="true" class="ptio-tor text-light"></i></a>
          {% endif %}
        {% endif %}
        </div>{% endif %}
      </div>
    </div>
  </div>
</div>
