<div id="dns-table" class="table-responsive">
  <table class="table table-hover sortable-theme-bootstrap" >
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Time</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Protocol</th>
        <th scope="col">Length</th>
        <th scope="col">Info</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>0.000000</td>
        <td>192.0.2.1</td>
        <td>1.1.1.1</td>
        <td>DNS</td>
        <td>104</td>
        <td>Standard query 0x58ba A privacyguides.org OPT</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>0.293395</td>
        <td>1.1.1.1</td>
        <td>192.0.2.1</td>
        <td>DNS</td>
        <td>108</td>
        <td>Standard query response 0x58ba A privacyguides.org A 198.98.54.105 OPT</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>1.682109</td>
        <td>192.0.2.1</td>
        <td>8.8.8.8</td>
        <td>DNS</td>
        <td>104</td>
        <td>Standard query 0xf1a9 A privacyguides.org OPT</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>2.154698</td>
        <td>8.8.8.8</td>
        <td>192.0.2.1</td>
        <td>DNS</td>
        <td>108</td>
        <td>Standard query response 0xf1a9 A privacyguides.org A 198.98.54.105 OPT</td>
      </tr>
    </tbody>
  </table>
</div>
