<tr>
  <th data-sorted="true" data-sorted-direction="ascending">DNS Provider</th>
  <th data-sortable="true">Server Locations</th>
  <th data-sortable="false">Privacy Policy</th>
  <th data-sortable="true">Type</th>
  <th data-sortable="true">Protocols</th>
  <th data-sortable="true">Logging</th>
  <th data-sortable="true">DNSSEC</th>
  <th data-sortable="true">QNAME Minimization</th>
  <th data-sortable="true">Filtering</th>
  <th data-sortable="true">Source Code</th>
  <th data-sortable="true">Hosting Provider</th>
</tr>
