// Fancy new Privacy Guides Color Scheme
$primary:       #FFD06F;
$secondary:     #2B589C;
$success:       #03CEA4;
$info:          #AA78A6;
$warning:       #FB4D3D;
$danger:        #CA1551;
$light:         #FFF6EB;
$dark:          #101619;

/* Social */
$twitter:             #FFD06F;
$mastodon:            #FFD06F;
$facebook:            #FFD06F;
$mix:                 #FFD06F;
$reddit:              #FFD06F;
$linkedin:            #FFD06F;
$email:               #FFD06F;
$diaspora:            #FFD06F;

$body-color: #28323F;
$link-color: $secondary;
