.no-text-wrap {
  white-space: nowrap;
}

.panel-pic {
  float: left;
  margin-right: 15px;
}

.table td, .table th {
  vertical-align: middle;
}

h2, h3, h4, h5:not(.h5) {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.h5 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

// SVG Color Inversion
.svg-primary {
  fill: $svg-primary;
}
.svg-dark {
  fill: $svg-dark;
}
.svg-light {
  fill: $svg-light;
}

@import "sortable";
