/* Variables */

// Default Bootstrap Colors for Now
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// Default Bootstrap Colors for Now
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

// Fancy new Privacy Guides Color Scheme
$primary:       #FFD06F;
$secondary:     #3913B8;
$success:       #03CEA4;
$info:          #AA78A6;
$warning:       #FB4D3D;
$danger:        #CA1551;
$light:         #FFF6EB;
$dark:          #101619;

$body-color: #28323F;
$link-color: #3913B8;
$navbar-light-color: rgba($black, .7);
$dropdown-link-color: $navbar-light-color;
$navbar-light-active-color: $dark;
$dropdown-link-hover-color: $navbar-light-active-color;

/* Extra Colors */
$theme-colors: ();
$theme-colors: map-merge(
  (
    "gray":       $gray-600,
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan
  ),
  $theme-colors
);

/* Cards */
$card-shadow:         0 3px 10px 0 rgba(150, 150, 150, .2);
$card-success-border:  rgba(40, 167, 69, .5);
$card-primary-border: rgba(0, 123, 255, .5);
$card-warning-border: rgba(255, 193, 7, .5);

/* Blockquote */
$blockquote-border:   #eee;

/* Share button */
$share-btn:           #fff;
$share-btn-shadow:    0 2px 0 0 rgba(0, 0, 0, .2);
$share-btn-hover:     #eee;
$share-btn-active:    #e2e2e2;

/* Social */
$twitter:             #FFD06F;
$mastodon:            #FFD06F;
$facebook:            #FFD06F;
$mix:                 #FFD06F;
$reddit:              #FFD06F;
$linkedin:            #FFD06F;
$email:               #FFD06F;
$diaspora:            #FFD06F;
$tor:                 #7d4698;

/* SVG Colors */
$svg-primary: $primary !default;
$svg-dark: $body-color;
$svg-light: $light !default;
