/* Variables */

$navbar-light-color: rgba($black, .7);
$dropdown-link-color: $navbar-light-color;
$navbar-light-active-color: $dark;
$dropdown-link-hover-color: $navbar-light-active-color;

/* Extra Colors */
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$colors: (
  "gray":       $gray-600,
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
);

/* Cards */
$card-shadow:         0 3px 10px 0 rgba(150, 150, 150, .2);
$card-success-border:  rgba(40, 167, 69, .5);
$card-primary-border: rgba(0, 123, 255, .5);
$card-warning-border: rgba(255, 193, 7, .5);

/* Blockquote */
$blockquote-border:   #eee;

/* Share button */
$share-btn:           #fff;
$share-btn-shadow:    0 2px 0 0 rgba(0, 0, 0, .2);
$share-btn-hover:     #eee;
$share-btn-active:    #e2e2e2;

/* SVG Colors */
$svg-primary: $primary !default;
$svg-dark: $body-color;
$svg-light: $light !default;
