/*
 * SPDX-FileCopyrightText: 2023 Jonah Aragon <jonah@privacyguides.org>
 *
 * SPDX-License-Identifier: MIT
 */

/* chinese-traditional */
@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.bunny.net/noto-serif-tc/files/noto-serif-tc-chinese-traditional-400-normal.woff2) format('woff2'), url(https://fonts.bunny.net/noto-serif-tc/files/noto-serif-tc-chinese-traditional-400-normal.woff) format('woff');
}

/* latin */
@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.bunny.net/noto-serif-tc/files/noto-serif-tc-latin-400-normal.woff2) format('woff2'), url(https://fonts.bunny.net/noto-serif-tc/files/noto-serif-tc-latin-400-normal.woff) format('woff');
}

/* chinese-traditional */
@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.bunny.net/noto-serif-tc/files/noto-serif-tc-chinese-traditional-700-normal.woff2) format('woff2'), url(https://fonts.bunny.net/noto-serif-tc/files/noto-serif-tc-chinese-traditional-700-normal.woff) format('woff');
}

/* latin */
@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.bunny.net/noto-serif-tc/files/noto-serif-tc-latin-700-normal.woff2) format('woff2'), url(https://fonts.bunny.net/noto-serif-tc/files/noto-serif-tc-latin-700-normal.woff) format('woff');
}

h1, h2, h3, .md-header__topic {
  font-family: "Bagnard", "Noto Serif TC", serif;
  font-weight: 700!important;
}
