---
---
@import "./node_modules/bootstrap/scss/functions";
@import "brand";
@import "./node_modules/bootstrap/scss/variables";
@import "variables";

@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";

$dm-grays: (
  "dm-white": $white,
  "dm-100": $gray-100,
  "dm-200": $gray-200,
  "dm-300": $gray-300,
  "dm-400": $gray-400,
  "dm-500": $gray-500,
  "dm-600": $gray-600,
  "dm-700": $gray-700,
  "dm-800": $gray-800,
  "dm-900": $gray-900,
  "dm-black": $black
);

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $grays, $dm-grays);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

.container-fullwidth {
  margin: 0 auto;
  width: 100%;
}

@font-face {
  font-family: Bagnard;
  src: url("/assets/fonts/Bagnard.woff") format("woff"), url("/assets/fonts/Bagnard.ttf") format("truetype"), url("/assets/fonts/Bagnard.otf") format("opentype");
}

h1, h2, h3:not(.h5), h4 {
  font-family: "Bagnard", serif;
}

// import /_sass/bootstrap.scss
@import "./node_modules/bootstrap/scss/bootstrap";
@import "ptio-font";
@import "flag-icon";

.textColor {
 fill: $dark;
}

.post-info, .post-title {
  color: theme-color("light");
  display: inline;
  padding: $spacer;
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.navbar-logo {
  @media (max-width: 400px) {
    width: 50px;
  }
  @media (min-width: 401px) {
    width: 300px;
  }
}

.dropdown-item {
  color: #d8dddf;
}

@import "custom";
