---
---
$theme-colors: (
  "primary": #FFD06F,
  "secondary": #28323F
);

$body-color: #28323F;
$link-color: #C98806;

.container-fullwidth {
  margin: 0 auto;
  width: 100%;
}

@font-face {
  font-family: Bagnard;
  src: url("/assets/fonts/Bagnard.woff") format("woff"), url("/assets/fonts/Bagnard.ttf") format("truetype"), url("/assets/fonts/Bagnard.otf") format("opentype");
}

h1, h2, h3, h4 {
  font-family: "Bagnard", serif;
  font-weight: 700;
}

// import /_sass/bootstrap.scss
@import "bootstrap";

.post-info, .post-title {
  background-color: theme-color("secondary");
  color: theme-color("light");
  display: inline;
  padding: $spacer;
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
