---
---
.feed-selection-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    &.feed-selection-overlay-active {
        background: rgba(0,0,0,0.5);
    }
    .feed-selection-cancel {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: default;
    }
    &:target {
        visibility: visible;
        opacity: 1;
    }
    height: 100vh;
}

.feed-selection-popup {
    margin: 75px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid 1px solid rgba(0, 0, 0, 0.125);
    width: 500px;
    border-radius: 0.25rem;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    position: relative;
    .feed-selection-overlay-active & {
        border-color: rgba(0, 0, 0, 0.125);
        box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    }
    h2 {
        margin-top: 0;
    }
    .feed-selection-content {
        max-height: 400px;
        overflow: auto;
    }
    p {
        margin: 0 0 1em;
        &:last-child {
            margin: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .feed-selection-popup {
        width: nil;
    }
}

@media (prefers-color-scheme: dark) {
    .feed-selection-popup {
        background: #1a2429;
    }
}