---
---
@import "./node_modules/bootstrap/scss/functions";
@import "brand";

$primary: #EAB448;
$secondary: lighten( $secondary, 30% );
$success: darken( $success, 10% );
$info: darken( $info, 5% );
$danger: lighten( $warning, 20% );
$warning: darken( $warning, 30% );

$body-bg: $dark;
$card-bg: lighten( $dark, 5% );
$body-color: $light;
$link-color: lighten( $link-color, 30% );
$mark-bg: darken( $primary, 60% );
$hr-border-color: $body-color;

@import "./node_modules/bootstrap/scss/variables";
@import "variables";

$dm-grays: (
  "dm-white": $black,
  "dm-100": $gray-900,
  "dm-200": $gray-800,
  "dm-300": $gray-700,
  "dm-400": $gray-600,
  "dm-500": $gray-500,
  "dm-600": $gray-400,
  "dm-700": $gray-300,
  "dm-800": $gray-200,
  "dm-900": $gray-100,
  "dm-black": $white
);

$card-shadow: 0 3px 10px 0 $dark;
$list-group-color: $body-color;
$list-group-bg: $card-bg;

$alert-bg-level:     4;
$alert-border-level: 3;
$alert-color-level:  -10;

$table-border-color: lighten( $dark, 20% );
$table-active-bg: rgba($white, .075);
$table-head-color: $white;

/*$navbar-light-color:                 ;
$navbar-light-hover-color:           ;
$navbar-light-active-color:          $white;
$navbar-light-disabled-color:        rgba($white, .25);
$navbar-light-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color:  rgba($white, .1);*/
$dropdown-bg: $card-bg;
$dropdown-link-color: rgba($white, .5);
$dropdown-link-hover-color: rgba($white, .75);
$dropdown-link-hover-bg: lighten( $dropdown-bg, 10% );

.container-fullwidth {
  margin: 0 auto;
  width: 100%;
}

@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $grays, $dm-grays);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

// import /_sass/bootstrap.scss
@import "./node_modules/bootstrap/scss/bootstrap";
@import "ptio-font";
@import "flag-icon";

$svg-primary: $primary;
$svg-dark: $light;
$svg-light: $card-bg;
.textColor { // Navbar logo text
  fill: $light;
}

.post-info, .post-title {
  color: $light;
  display: inline;
  padding: $spacer;
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

mark, .mark {
  color: $body-color;
}

@import "custom";
@import "noscript";
