(pg-umami-config) {
	umami {
		event_endpoint https://stats.jonaharagon.net/api/send
		website_uuid 30b92047-7cbb-4800-9815-2e075a293e0a
		# bit of a hack to get umami working properly, nothing to do with cloudflare
		client_ip_header CF-Connecting-IP
		trusted_ip_header X-Real-IP
		cookie_consent umami
		cookie_resolution resolution
		debug
	}
}

www.privacyguides.org {
	import vars
	import common/*.caddy
	import production/*.caddy
}

http://www.xoe4vn5uwdztif6goazfbmogh6wh5jc4up35bqdflu6bkdc5cas5vjqd.onion {
	import vars
	import common/*.caddy
	import production/minio.caddy
}

http://*.xoe4vn5uwdztif6goazfbmogh6wh5jc4up35bqdflu6bkdc5cas5vjqd.onion {
	@hostnames header_regexp hostname Host (\S+)\.xoe4vn5uwdztif6goazfbmogh6wh5jc4up35bqdflu6bkdc5cas5vjqd\.onion
	handle @hostnames {
		reverse_proxy {re.hostname.1}.privacyguides.org:443 {
			header_up Host {re.hostname.1}.privacyguides.org
			transport http {
				tls
			}
		}
	}
}

privacyguides.org {
	import vars
	import production/matrix.caddy

	handle {
		import production/https.caddy
		redir https://www.privacyguides.org{uri}
	}
}

http://xoe4vn5uwdztif6goazfbmogh6wh5jc4up35bqdflu6bkdc5cas5vjqd.onion {
	redir http://www.xoe4vn5uwdztif6goazfbmogh6wh5jc4up35bqdflu6bkdc5cas5vjqd.onion{uri}
}
