<!--
  SPDX-FileCopyrightText: 2024 Jonah Aragon <jonah@privacyguides.org>

  SPDX-License-Identifier: MIT
-->
{% set copyright = config.extra.privacy_guides.footer %}

<!-- Copyright information -->
<div class="md-copyright">
  {% if copyright %}
    <div class="md-copyright__highlight" title="This version of Privacy Guides was built on {{ build_date_utc.strftime('%B %d, %Y at %I:%M%p') }}">
      {{ copyright.intro }}
      <br />
      {{ copyright.note }}
      <br />
      <a href='/license' aria-label="More information about our website license.">
        {% for icon in copyright.license %}
          <span class="twemoji">{% include ".icons/" ~ icon ~ ".svg" %}</span>
        {% endfor %}
      </a>
      {{ copyright.copyright.date }} {{ copyright.copyright.author }}
      {% for link in copyright.links %}
        <a href="{{ link.url }}">
          <strong>{{ link.name }}</strong>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
