{% extends "main.html" %}
{% block extrahead %}
<script type="application/ld+json">
[
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "@id": "https://www.privacyguides.org/",
        "name": "Privacy Guides",
        "url": "https://www.privacyguides.org/en/about/",
        "logo": "https://www.privacyguides.org/en/assets/brand/png/square/pg-yellow.png",
        "sameAs": [
        "https://twitter.com/privacy_guides",
        "https://github.com/privacyguides",
        "https://www.wikidata.org/wiki/Q111710163",
        "https://opencollective.com/privacyguides",
        "https://www.youtube.com/@privacyguides",
        "https://mastodon.neat.computer/@privacyguides"
        ]
    },
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "{{ config.site_url }}",
        "sameAs": [
        "https://www.privacyguides.org/",
        "https://twitter.com/privacy_guides",
        "https://github.com/privacyguides"
        ],
        "potentialAction": {
            "@type": "SearchAction",
            "target": {
                "@type": "EntryPoint",
                "urlTemplate": "{{ config.site_url }}?q={search_term_string}"
            },
            "query-input": "required name=search_term_string"
        }
    }
]
</script>
{% endblock %}
