/* Blog hero section */
.mdx-container {
    background-color: white;
    padding-top: 1rem;
}

.mdx-hero {
    color: var(--md-primary-bg-color);
    margin: 0 0.8rem;
    text-align: center;
}
.mdx-hero h1 {
    color: currentcolor;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 2rem;
}
@media screen and (max-width: 29.9375em) {
    .mdx-hero h1 {
        font-size: 1.4rem;
    }
}
.mdx-hero__content {
    padding-top: 1rem;
}
