{% extends "base.html" %}
{% block extrahead %}
  <link rel="preload" href="{{ 'assets/brand/WOFF/bagnard/Bagnard.woff' | url }}" as="font" type="font/woff" crossorigin>
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css?v=2.10.0' | url }}">
{% endblock %}
{% block tabs %}
  {{ super() }}
  <style>.md-content > .md-typeset h1{visibility:hidden;font-size:0;}.md-button{margin-top:.5rem;}</style>
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__content">
          <h1>把網路隱私歸還於你的線上指南。</h1>
          <p>各種組織和團體正在監視您的線上活動。 Privacy Guides 是您不可或缺的網路隱私安全自衞手冊。</p>
          <a href="kb/" title="學習私隱的第一步" class="md-button md-button--primary">
            按此開始您的私隱學習旅程
          </a>
          <a href="tools/" title="推薦的私隱工具、服務和知識" class="md-button">
            推薦工具
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
