{% extends "base.html" %}
{% block extrahead %}
  <link rel="preload" href="{{ 'assets/brand/WOFF/bagnard/Bagnard.woff' | url }}" as="font" type="font/woff" crossorigin>
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css?v=2.10.0' | url }}">
{% endblock %}
{% block tabs %}
  {{ super() }}
  <style>.md-content > .md-typeset h1{visibility:hidden;font-size:0;}.md-button{margin-top:.5rem;}</style>
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__content">
          <h1>De gids voor het herstellen van jouw online privacy.</h1>
          <p>Enorme organisaties houden jouw online activiteiten in de gaten. Privacy Guides is jouw centrale bron voor privacy en beveiliging om jezelf online te beschermen.</p>
          <a href="kb/" title="De eerste stap op weg naar privacy" class="md-button md-button--primary">
            Begin jouw privacyreis
          </a>
          <a href="tools/" title="Aanbevolen privacytools, -diensten en -kennis" class="md-button">
            Aanbevolen tools
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
