{% extends "schema.html" %}
{% block extrahead %}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css?v=3.3.0' | url }}">
  {{ super() }}
{% endblock %}
{% block tabs %}
  {{ super() }}
  <style>.md-content > .md-typeset h1{visibility:hidden;font-size:0;}.md-button{margin-top:.5rem;}</style>
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__content">
          <h1>Przewodnik do odzyskania swojej prywatności w Internecie.</h1>
          <p>Ogromne korporacje monitorują Twoją aktywność w Internecie. Privacy Guides to Twoje centrum dla prywatności oraz bezpieczeństwa, które pomoże Ci chronić się w Internecie.</p>
          <a href="{% if config.extra.offline %}basics/threat-modeling.html{% else %}kb/{% endif %}" title="Pierwszy krok Twojej drogi do prywatności" class="md-button md-button--primary">
            Rozpocznij swoją przygodę ku prywatności
          </a>
          <a href="{% if config.extra.offline %}tools.html{% else %}tools/{% endif %}" title="Polecane narzędzia, usługi oraz rozwiązania" class="md-button">
            Polecane narzędzia
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
