{% extends "schema.html" %}
{% block extrahead %}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css?v=3.3.0' | url }}">
  {{ super() }}
{% endblock %}
{% block tabs %}
  {{ super() }}
  <style>.md-content > .md-typeset h1{visibility:hidden;font-size:0;}.md-button{margin-top:.5rem;}</style>
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__content">
          <h1>拿回網路隱私的線上指南。</h1>
          <p>巨型組織正在監視您的線上活動。 Privacy Guides 是您重要的網路隱私與安全資源。</p>
          <a href="{% if config.extra.offline %}basics/threat-modeling.html{% else %}kb/{% endif %}" title="隱私保護的第一步" class="md-button md-button--primary">
            按此開始您的隱私旅程
          </a>
          <a href="{% if config.extra.offline %}tools.html{% else %}tools/{% endif %}" title="推薦的隱私工具、服務和知識" class="md-button">
            推薦工具
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
