{% extends "base.html" %}
{% block extrahead %}
  <link rel="stylesheet" href="{{ 'overrides/home.css' | url }}">
  <link rel="me" href="https://aragon.sh/@jonah">
  <link rel="me" href="https://fosstodon.org/@freddy">
  <link rel="me" href="https://mastodon.social/@dngray">
  <link rel="me" href="https://mastodon.social/@blacklight447">
  <link rel="me" href="https://fosstodon.org/@hook54321">
{% endblock %}
{% block tabs %}
  {{ super() }}
  <style>.md-content > .md-typeset h1{visibility:hidden;font-size:0;}</style>
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__content">
          <h1>The guide to restoring your online privacy.</h1>
          <p>Massive organizations are monitoring your online activities. Privacy Guides is your central privacy and security resource to protect yourself online.</p>
          <a href="tools/" title="Recommended privacy tools, services, and knowledge" class="md-button md-button--primary">
            Recommended Tools
          </a>
          <a href="https://blog.privacyguides.org/" title="Blog posts from Privacy Guides contributors" class="md-button">
            Read our blog
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block footer %}
<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      {% include "partials/copyright.html" %}
      {% if config.extra.social %}
        {% include "partials/social.html" %}
      {% endif %}
    </div>
  </div>
</footer>
{% endblock %}
