/* Homepage hero section */

.mdx-hero {
    color: var(--pg-hero-color);
    margin: 0 0.8rem;
    text-align: center;
}
.mdx-hero h1 {
    color: currentcolor;
    margin-bottom: 1rem;
    font-size: 2.6rem;
}
@media screen and (max-width: 29.9375em) {
    .mdx-hero h1 {
        font-size: 1.4rem;
    }
}
.mdx-hero__content {
    margin-top: 2rem;
    padding-bottom: 0rem;
}
[data-md-color-scheme="slate"] .mdx-hero .md-button--primary {
    color: var(--md-primary-fg-color);
}
.mdx-hero .md-button--primary {
    color: var(--md-primary-fg-color);
    background-color: var(--pg-hero-color);
    border-color: transparent;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
nav[class="md-tabs"] {
    border-bottom: none;
}
