@font-face {
    font-family: 'Bagnard';
    src: url("/assets/brand/WOFF/bagnard/Bagnard.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/brand/WOFF/public_sans/PublicSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/brand/WOFF/public_sans/PublicSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/brand/WOFF/public_sans/PublicSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/brand/WOFF/public_sans/PublicSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/brand/WOFF/public_sans/PublicSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/assets/brand/WOFF/dm_mono/DMMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/assets/brand/WOFF/dm_mono/DMMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Define brand */
:root, [data-md-color-scheme="default"] {
    --md-default-bg-color: rgb(247, 247, 252);
    --md-primary-fg-color: rgb(255, 255, 255);
    --md-primary-fg-color--light: #FFD06F;
    --md-primary-fg-color--dark:  #db9d21;
    --md-primary-bg-color: rgba(0,0,0,.75);
    --md-primary-bg-color--light: rgba(0,0,0,.54);
    --md-text-font: "Public Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    --md-code-font: "DM Mono", SFMono-Regular, Consolas, Menlo, monospace;
    --pg-light-border: rgb(229, 231, 235);
    --pg-hero-color: rgb(45, 45, 45);
}
:root, [data-md-color-scheme="slate"] {
    --md-default-bg-color: rgb(26, 26, 27);
    --md-primary-fg-color: rgb(15, 15, 15);
    --md-primary-fg-color--light: #FFD06F;
    --md-primary-fg-color--dark:  #db9d21;
    --md-primary-bg-color: rgba(0,0,0,.75);
    --md-primary-bg-color--light: rgba(0,0,0,.54);
    --md-text-font: "Public Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    --md-code-font: "DM Mono", SFMono-Regular, Consolas, Menlo, monospace;
    --pg-light-border: rgb(47, 47, 47);
    --pg-hero-color: rgb(229, 231, 235);
}

/* Better contrast link colors */
[data-md-color-scheme="default"] > * {
    --md-typeset-a-color: rgb(79, 70, 229);
}
[data-md-color-scheme="slate"] > * {
    --md-typeset-a-color: rgb(203, 189, 255);
}

/* Hide shadow under navigation */
.md-header[data-md-state="shadow"],
.md-header--shadow {
    box-shadow: none;
}

/* buttons */
.md-typeset .md-button {
    color: var(--md-typeset-color);
    background: none;
    border: 1px solid var(--pg-light-border);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
}
.md-typeset .md-button--primary {
    color: var(--md-typeset-a-color);
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li, .md-typeset .grid>.card {
    color: var(--md-typeset-color);
    background: none;
    border: 1px solid var(--pg-light-border);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
    transition: none;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li:-webkit-any(:focus-within,:hover) {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
    border-color: var(--md-accent-fg-color);
}

/* header font */

.md-header__topic:first-child {
    font-weight: 300;
}
h1, h2, h3, .md-header__topic {
    font-family: "Bagnard", serif;
}

/* Recommendation cards */
.md-typeset .admonition.recommendation,
.md-typeset details.recommendation {
    border: 1px solid #ccc;
    font-size: inherit;
}
[data-md-color-scheme="slate"] .md-typeset .admonition.recommendation,
[data-md-color-scheme="slate"] .md-typeset details.recommendation {
    border: 1px solid #666;
}
.md-typeset .recommendation > .admonition-title,
.md-typeset .recommendation > summary {
    background-color: rgba(43, 155, 70, 0.0);
    border: none;
    padding-left: 0.6rem;
}
.md-typeset .recommendation > .admonition-title::before,
.md-typeset .recommendation > .admonition-title,
.md-typeset .recommendation > summary::before {
    display: none;
}
.md-typeset .recommendation img[align="right"], .md-typeset svg[align="right"] {
    width: 150px;
}

.md-typeset .admonition.downloads,
.md-typeset details.downloads {
    border: none;
}
.md-typeset .downloads > .admonition-title,
.md-typeset .downloads > summary {
    background-color: rgba(43, 155, 70, 0.0);
    border: none;
    padding-left: 0.6rem;
}
.md-typeset .downloads > .admonition-title::before,
.md-typeset .downloads > .admonition-title,
.md-typeset .downloads > summary::before {
    background-color: var( --md-typeset-a-color);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z'/%3E%3C/svg%3E");
}
.md-typeset .downloads > summary::after {
    right:auto;
}

.downloads p > a {
    padding-left: 0.5em;
}
details[class="downloads annotate"] > p .md-annotation span span::before {
    vertical-align: 0;
}

/* Card links */
.md-typeset .card-link {
    color: var(--md-default-fg-color--light);
}

.md-typeset .card-link:hover {
    color: var(--md-accent-fg-color);
}

.md-typeset .card-link:not(:first-child) {
    padding-left: 0.5em;
}

/* Correct page icon size */
.md-nav__link svg {
    width: 22px;
}

/* Un-sticky sidebar without JS */
.no-js .md-sidebar {
    align-self: auto;
}

/* Maintain 16:9 aspect ratio on embedded YT videos */
.yt-embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.yt-embed iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Badge colors */
.pg-purple {
    color: #603aa0;
}
[data-md-color-scheme="slate"] .pg-purple {
    color: #af94de;
}
.pg-red {
    color: #c0322f;
}
[data-md-color-scheme="slate"] .pg-red {
    color: #ff6c6a;
}
.pg-orange {
    color: #ac2f09;
}
[data-md-color-scheme="slate"] .pg-orange {
    color: #e97b5a;
}
.pg-teal {
    color: #04756a;
}
[data-md-color-scheme="slate"] .pg-teal {
    color: #8dc6c1;
}
.pg-brown {
    color: #8d6e62;
}
[data-md-color-scheme="slate"] .pg-brown {
    color: #b6988c;
}
.pg-blue {
    color: #0e66ae;
}
[data-md-color-scheme="slate"] .pg-blue {
    color: #74b9f1;
}
.pg-green {
    color: #2e7e31;
}
[data-md-color-scheme="slate"] .pg-green {
    color: #72cd75;
}
.pg-blue-gray {
    color: #546d78;
}
[data-md-color-scheme="slate"] .pg-blue-gray {
    color: #9ab2bc;
}

/* Make light/dark mode icon smaller */
label[class="md-header__button md-icon"] svg {
    height: 1rem;
    width: 1rem;
}

/* 3.0 header + nav */
.md-header >*, .md-tabs {
    background: none;   
}

[data-md-color-scheme="slate"] .md-header >*, [data-md-color-scheme="slate"] .md-tabs {
    color: var(--md-typeset-color);
}

.md-header, .md-tabs { /* firefox fallback */
    background-color: rgba(255, 255, 255, .95);
}

[data-md-color-scheme="slate"] .md-header, [data-md-color-scheme="slate"] .md-tabs { /* firefox fallback */
    background-color: rgba(9, 9, 9, 0.95);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .md-header, .md-tabs {
        background-color: rgba(255, 255, 255, .6);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
    }
    [data-md-color-scheme="slate"] .md-header, [data-md-color-scheme="slate"] .md-tabs {
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
    }
}

header[class="md-header md-header--shadow"], nav[class="md-tabs"] {
    border-bottom: 1px solid var(--pg-light-border);
}

.md-search__overlay {
    background-color: transparent;
}

.md-search__form {
    border: 1px solid var(--pg-light-border);
    background-color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(0, 0, 0, 0.02) 0px 1px 2px -1px;
    border-radius: 6px;
}

div[class="md-source__icon md-icon"], div[class="md-source__repository md-source__repository--active"] *:not(.md-source__facts):not(.md-source__fact) {
    display: none;
}

.md-source__fact::before {
    color: var(--md-primary-fg-color--light);
}

.md-header__source {
    text-align: right;
    width: initial;
    margin-right: 1em;
}

[dir="ltr"] .md-source__icon + .md-source__repository {
    padding-left: 0;
}

.md-source__repository {
    max-width: initial;
}

/* 3.0 admonitions */

.md-typeset .admonition.recommendation {
    border: 1px solid var(--pg-light-border);
}

.md-typeset :is(.admonition, details) {
    background-color: var(--md-primary-fg-color);
    box-shadow: none;
    border-radius: 6px;
    border: 1px solid;
    border-left-width: 1px!important;
}

.md-typeset :is(.admonition-title, summary) {
    margin-left: -0.6rem!important;
}

.md-typeset details:not(.downloads, [open]) summary:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.6);
}

[data-md-color-scheme="slate"] .md-typeset details:not(.downloads, [open]) summary:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.md-typeset .recommendation img[align="right"] {
    width: 100px;
}

/* 3.0 tooltips */
.md-tooltip {
    border-radius: 6px;
}
