/* Homepage hero section */
.mdx-container {
    background: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 1123 258' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'><g transform='matrix(-1.01432,0,0,0.388868,1134.41,161.501)'><path d='M1124,2L1124,258L-1,258L-1,210C-1,210 15,215 54,215C170,215 251,123 379,123C500,123 493,169 633,169C773,169 847,2 1205,3L1124,2Z' style='fill:rgb(247, 247, 252);fill-rule:nonzero;'/></g></svg>")
            no-repeat bottom,
        linear-gradient(to bottom, rgb(255 255 255/.8), #ffdd98 99%, var(--md-default-bg-color) 99%);
    padding-top: 1rem;
}
[data-md-color-scheme="slate"] .mdx-container {
    background: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 1123 258' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'><g transform='matrix(-1.01432,0,0,0.388868,1134.41,161.501)'><path d='M1124,2L1124,258L-1,258L-1,210C-1,210 15,215 54,215C170,215 251,123 379,123C500,123 493,169 633,169C773,169 847,2 1205,3L1124,2Z' style='fill:rgb(26, 26, 27);fill-rule:nonzero;'/></g></svg>")
            no-repeat bottom, rgba(9, 9, 9, 0.95);
}

.mdx-hero {
    color: var(--pg-hero-color);
    margin: 0 0.8rem;
}
.mdx-hero h1 {
    color: currentcolor;
    margin-bottom: 1rem;
    font-size: 2.6rem;
}
@media screen and (max-width: 29.9375em) {
    .mdx-hero h1 {
        font-size: 1.4rem;
    }
}
.mdx-hero__content {
    padding-bottom: 6rem;
}
@media screen and (min-width: 60em) {
    .mdx-hero {
        align-items: stretch;
        display: flex;
    }
    .mdx-hero__content {
        margin-top: 3.5rem;
        max-width: 38rem;
        padding-bottom: 14vw;
    }
    .mdx-hero__image {
        order: 1;
        transform: translateX(4rem);
        width: 38rem;
    }
}
@media screen and (min-width: 76.25em) {
    .mdx-hero__image {
        transform: translateX(8rem);
    }
}
.mdx-hero .md-button {
    color: var(--pg-hero-color);
    border-color: var(--pg-hero-color);
}
[data-md-color-scheme="slate"] .mdx-hero .md-button--primary {
    color: var(--md-primary-fg-color);
}
.mdx-hero .md-button--primary {
    color: var(--md-primary-fg-color);
    background-color: var(--pg-hero-color);
    border-color: transparent;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
nav[class="md-tabs"] {
    border-bottom: none;
}
