<h2 id="mobile_os" class="anchor"><a href="#mobile_os"><i class="fas fa-link anchor-icon"></i></a> Mobile Operating Systems</h2>

{% include legacy/cardv2.html
  title="GrapheneOS"
  image="/assets/img/legacy_svg/3rd-party/grapheneos.svg"
  image-dark="/assets/img/legacy_svg/3rd-party/grapheneos-dark.svg"
  description='GrapheneOS is a free and open-source security and privacy-focused mobile operating system built on top of the Android Open Source Project. It expands upon android security by providing a <a href="https://github.com/GrapheneOS/hardened_malloc">hardened memory allocator</a>, network and sensors permission, <a href="https://grapheneos.org/usage#sandboxed-play-services">sandboxed Play Services support</a>, and various other <a href="https://grapheneos.org/features">security features</a>. Using GrapheneOS is recommended if you want the utmost security for your device. Currently, only <a href="https://grapheneos.org/faq#device-support">Pixel phones</a> are supported.'
  badges="info:AOSP"
  website="https://grapheneos.org"
  github="https://github.com/GrapheneOS"
%}

{% include legacy/cardv2.html
  title="CalyxOS"
  image="/assets/img/legacy_svg/3rd-party/calyxos.svg"
  description='CalyxOS is a custom ROM based on the Android Open Source Project, with support for <a href="https://calyxos.org/docs/guide/device-support/">Google Pixel devices and the Xiaomi Mi A2</a>. It aims to be secure and private by default, and includes a number of good choices for default applications. Some of its features include optional <a href="https://microg.org/">MicroG</a> support and a built-in <a href="https://calyxos.org/docs/tech/datura-details/">firewall</a>. It should be noted that CalyxOS lacks a lot of the security hardening that GrapheneOS has, such as a hardened memory allocator, hardened webview, more <a href="https://grapheneos.org/usage#exec-spawning">secure spawning system</a>, and so on.'
  badges="info:AOSP"
  website="https://calyxos.org"
  gitlab="https://gitlab.com/calyxos"
%}

{% include legacy/cardv2.html
  title="DivestOS"
  image="/assets/img/legacy_svg/3rd-party/divestos.svg"
  description='DivestOS is a soft-fork of <a href="https://lineageos.org/">LineageOS</a> with signed builds, automated kernel vulnerability (CVE) patching, fewer proprietary blobs, along with bundled <a href="https://www.f-droid.org/">F-Droid</a> and <a href="https://github.com/microg/UnifiedNlp">UnifedNlp</a>. Not all of its supported devices support <a href="https://source.android.com/security/verifiedboot">verified boot</a>, and DivestOS does not handle firmware updates well currently. For Pixel devices, we still recommend using GrapheneOS or CalyxOS. For other <a href="https://divestos.org/index.php?page=devices&base=LineageOS">supported devices</a>, DivestOS is a good option.'
  badges="info:AOSP"
  website="https://divestos.org"
  tor="http://divestoseb5nncsydt7zzf5hrfg44md4bxqjs5ifcv4t7gt7u6ohjyyd.onion"
  privacy-policy="https://divestos.org/index.php?page=privacy_policy"
  github="https://github.com/divested-mobile"
  gitlab="https://gitlab.com/divested-mobile"
%}
