<h2 id="paste" class="anchor"><a href="#paste"><i class="fas fa-link anchor-icon"></i></a> Pastebin Services</h2>

{% include legacy/cardv2.html
title="PrivateBin"
image="/assets/img/legacy_svg/3rd-party/privatebin.svg"
description="PrivateBin is a minimalist, open-source online pastebin where the server has zero knowledge of pasted data. Data is encrypted/decrypted in the browser using 256-bit AES. It is the improved version of ZeroBin."
website="https://privatebin.info/"
github="https://github.com/PrivateBin/PrivateBin"
%}


{% include legacy/cardv2.html
title="CryptPad"
image="/assets/img/legacy_svg/3rd-party/cryptpad.svg"
description="CryptPad is an open-source, zero knowledge, and real-time collaborative editor. Data is encrypted/decrypted in the browser, using Salsa20 with Poly1305 to encrypt pads."
website="https://cryptpad.fr/pad/"
privacy-policy="https://cryptpad.fr/pad/#/2/pad/view/GcNjAWmK6YDB3EO2IipRZ0fUe89j43Ryqeb4fjkjehE/"
github="https://github.com/xwiki-labs/cryptpad"
%}

{% include legacy/cardv2.html
title="AnonPaste"
image="/assets/img/legacy_svg/3rd-party/anonpaste.svg"
description="Forked from PrivateBin with addtional features such as never expire."
website="https://anonpaste.org"
%}