@font-face {
    font-family: 'Bagnard';
    src: url("/assets/fonts/bagnard/Bagnard.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/public_sans/PublicSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/public_sans/PublicSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/public_sans/PublicSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/public_sans/PublicSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/public_sans/PublicSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/assets/fonts/dm_mono/DMMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/assets/fonts/dm_mono/DMMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Define brand */
:root, [data-md-color-scheme="default"] {
    --md-primary-fg-color:        #FFD06F;
    --md-primary-fg-color--light: #ffdd98;
    --md-primary-fg-color--dark:  #db9d21;
    --md-primary-bg-color: rgba(0,0,0,.75);
    --md-primary-bg-color--light: rgba(0,0,0,.54);
    --md-text-font: "Public Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    --md-code-font: "DM Mono", SFMono-Regular, Consolas, Menlo, monospace;
}

/* Hide shadow under navigation */
.md-header[data-md-state="shadow"],
.md-header--shadow {
    box-shadow: none;
}

/* Better contrast link colors */
[data-md-color-scheme="default"] > * {
    --md-typeset-a-color: #3C00E0;
}

[data-md-color-scheme="slate"] {
    --md-typeset-a-color: #CBBDFF;
}

/* Purple buttons */
.md-typeset .md-button {
    color: var(--md-typeset-a-color);
    margin-bottom: 5px;
}
.md-typeset .md-button--primary {
    color: white;
    background-color: var(--md-typeset-a-color);
    border-color: var(--md-typeset-a-color);
}
[data-md-color-scheme="slate"] .md-typeset .md-button--primary {
    color: var(--md-primary-bg-color);
}

h1, h2, h3, .md-header__topic {
    font-family: "Bagnard", serif;
}

/* Recommendation cards */
.md-typeset .admonition.recommendation,
.md-typeset details.recommendation {
    border: none;
    font-size: inherit;
}
.md-typeset .recommendation > .admonition-title,
.md-typeset .recommendation > summary {
    background-color: rgba(43, 155, 70, 0.0);
    border: none;
    padding-left: 0.6rem;
}
.md-typeset .recommendation > .admonition-title::before,
.md-typeset .recommendation > .admonition-title,
.md-typeset .recommendation > summary::before {
    display: none;
}
.md-typeset .recommendation img[align="right"], .md-typeset svg[align="right"] {
    width: 150px;
}

.md-typeset .admonition.downloads,
.md-typeset details.downloads {
    border: none;
}
.md-typeset .downloads > .admonition-title,
.md-typeset .downloads > summary {
    background-color: rgba(43, 155, 70, 0.0);
    border: none;
    padding-left: 0.6rem;
}
.md-typeset .downloads > .admonition-title::before,
.md-typeset .downloads > .admonition-title,
.md-typeset .downloads > summary::before {
    background-color: var( --md-typeset-a-color);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z'/%3E%3C/svg%3E");
}
.md-typeset .downloads > summary::after {
    right:auto;
}

/* Correct page icon size */
.md-nav__link svg {
    width: 22px;
}

/* Un-sticky sidebar without JS */
.no-js .md-sidebar {
    align-self: auto;
}

/* Maintain 16:9 aspect ratio on embedded YT videos */
.yt-embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.yt-embed iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Badge colors */
.pg-purple {
    color: #7e56c2;
}
.pg-red {
    color: #ef5552;
}
.pg-orange {
    color: #ff6e42;
}
.pg-teal {
    color: #009485;
}
.pg-brown {
    color: #8d6e62;
}
.pg-blue {
    color: #2094f3;
}
.pg-green {
    color: #4cae4f;
}
.pg-blue-gray {
    color: #546d78;
}

/* Make light/dark mode icon smaller */
label[class="md-header__button md-icon"] svg {
    height: 1rem;
    width: 1rem;
}
