@font-face {
    font-family: 'Bagnard';
    src: url("/assets/fonts/bagnard/Bagnard.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/public_sans/PublicSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/public_sans/PublicSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/public_sans/PublicSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/public_sans/PublicSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/public_sans/PublicSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/assets/fonts/dm_mono/DMMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/assets/fonts/dm_mono/DMMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Define brand */
:root {
    --md-primary-fg-color:        #FFD06F;
    --md-primary-fg-color--light: #ffdd98;
    --md-primary-fg-color--dark:  #db9d21;
    --md-primary-bg-color: rgba(0,0,0,.75);
    --md-primary-bg-color--light: rgba(0,0,0,.54);
    --md-text-font: "Public Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    --md-code-font: "DM Mono", SFMono-Regular, Consolas, Menlo, monospace;
}

/* Hide shadow under navigation */
.md-header[data-md-state="shadow"],
.md-header--shadow {
    box-shadow: none;
}

/* Better contrast link colors */
[data-md-color-scheme="default"] {
    --md-typeset-a-color: #3C00E0;
}

[data-md-color-scheme="slate"] {
    --md-typeset-a-color: #CBBDFF;
}

/* Purple buttons */
.md-typeset .md-button {
    color: var(--md-typeset-a-color);
    margin-bottom: 5px;
}
.md-typeset .md-button--primary {
    color: white;
    background-color: var(--md-typeset-a-color);
    border-color: var(--md-typeset-a-color);
}
[data-md-color-scheme="slate"] .md-typeset .md-button--primary {
    color: var(--md-primary-bg-color);
}

h1, h2, h3, .md-header__topic {
    font-family: "Bagnard", serif;
}

/* Recommendation cards */
.md-typeset .admonition.recommendation,
.md-typeset details.recommendation {
    border: none;
    font-size: inherit;
}
.md-typeset .recommendation > .admonition-title,
.md-typeset .recommendation > summary {
    background-color: rgba(43, 155, 70, 0.0);
    border: none;
    padding-left: 0.6rem;
}
.md-typeset .recommendation > .admonition-title::before,
.md-typeset .recommendation > .admonition-title,
.md-typeset .recommendation > summary::before {
    display: none;
}
.md-typeset .recommendation img[align="right"], .md-typeset svg[align="right"] {
    max-width: 150px;
}

.md-typeset .admonition.anonyimity,
.md-typeset details.anonyimity {
  border-color: rgb(43, 155, 70);
}
.md-typeset .anonyimity > .admonition-title,
.md-typeset .anonyimity > summary {
  background-color: rgba(43, 155, 70, 0.1);
  border-color: rgb(43, 155, 70);
}
.md-typeset .anonyimity > .admonition-title::before,
.md-typeset .anonyimity > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--success);
          mask-image: var(--md-admonition-icon--success);
}

/* Correct page icon size */
.md-nav__link svg {
    width: 22px;
}

/* Unsticky sidebar without JS */
.no-js .md-sidebar {
    align-self: auto;
}
