---
layout: default
---

  {{ content }}

<div class="container my-5">
  <h1><a class="feed-button" href="#feed-selection"><i class="fas fa-rss rss-icon"></i></a> {{ page.title }}</h1>
  {% if page.description %}<div class="lead">
    {{ page.description | markdownify }}
  </div>{% endif %}

  <div id="feed-selection" class="feed-selection-overlay feed-selection-overlay-active">
    <a class="feed-selection-cancel" href="#"></a>
    <div class="feed-selection-popup">
      <div class="feed-selection-content">
        <h2>Blog feeds</h2>
        <p>We offer both JSON and RSS feeds for our blog.</p>
        <a href="/feed.json" class="btn btn-secondary btn-lg">JSON feed</a>
        <a href="/feed.xml" class="btn btn-secondary btn-lg">RSS feed</a>
      </div>
    </div>
  </div>

  {% include hr.html %}
  {% include footer.html %}
</div>
