---
layout: default
---

<div class="p-5 mb-3 text-light bg-green"{% if page.cover %} style="background-image: {{ page.color | default: "linear-gradient(to bottom, rgba(40, 50, 63, 0.3), rgba(40, 50, 63, 0.9))" }}, url(/assets/img/blog/{{ page.cover }}); background-size: cover; background-position: center;"{% endif %}>
  <div class="container">
    <div class="post-cover">
      <div class="inner d-flex flex-column align-self-end" style="min-height: 300px;">
        <div class="mt-auto">
          <h1 class="post-title display-4">{{ page.title }}</h1>
        </div>
        <div class="mt-3">
          <p class="post-info">Jonah Aragon | {{ page.date | date: "%b %-d, %Y" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="w-75 mx-auto">
  {{ content }}
  </div>
  {% if page.canonical or page.cover_src_publisher %}<hr class="m-5" />
  {% if page.cover_src_publisher %}<p><em>Cover photo: <a href="{{ page.cover_src }}">{{ page.cover_src_publisher }}</a>. Used with permission.</em></p>{% endif %}
  {% if page.canonical %}<p><em>This post was originally published on <a href="{{ page.canonical }}">{% if page.canonical_publisher %}{{ page.canonical_publisher }}{% else %}{{ page.canonical }}{% endif %}</a> and has been syndicated here with the permission of the author or publication.</em>{% endif %}</p>{% endif %}
  {% include hr.html %}
  {% include footer.html %}
</div>
