<div class="card">
  <div class="card-header bg-transparent">
    <h3 class="h5">
      {% if include.badges %}
      <span class="me-2">{{ include.title }}</span>
      {% assign badges = include.badges | split:"|" %}
        {% for badge in badges %}
          {% assign badge_data = badge | split:":" %}
          {% assign color = badge_data[0] %}
          {% assign text = badge_data[1] %}
          {% assign tooltip = badge_data[2] | default: false %}
          {% assign help_icon = '<i aria-hidden="true" class="far fa-question-circle"></i>' %}
          <span
            class="badge rounded-pill bg-{{color}}"
            {% if tooltip %}
              data-bs-toggle="tooltip"
              title="{{ tooltip }}"
              > {{text}} {{ help_icon }}
            {% else %}
              > {{text}}
            {% endif %}
          </span>
        {% endfor %}
      {% else %}
        {{ include.title }}
      {% endif %}
    </h3>
  </div>
  <div class="card-body">
    <p class="card-text">
      <img
        src="{{include.image}}"
        {% if include.image-dark %}
        data-theme-src="{{include.image-dark}}"
        {% endif %}
        height="120"
        width="120"
        class="panel-pic"
        alt="{{include.title}} logo"
      >
      {{ include.description }}
      {% if include.labels %}
      {% assign labels = include.labels | split:"|" %}
      {% for label in labels %}
        {% assign label_data = label | split:"::" %}
          {% for label_attr in label_data %}
            {% assign attr = label_attr | split:"==" %}
            {% if attr[0] == "color" %}
              {% assign color = attr[1] %}
            {% elsif attr[0] == "link" %}
              {% assign link = attr[1] %}
            {% elsif attr[0] == "text" %}
              {% assign text = attr[1] %}
            {% elsif attr[0] == "icon" %}
              {% assign icon = attr[1] %}
            {% elsif attr[0] == "tooltip" %}
              {% assign tooltip = attr[1] %}
            {% endif %}
          {% endfor %}
        {% include badge.html
          link=link
          color=color
          text=text
          icon=icon
          tooltip=tooltip
        %}
        {% assign color = nil %}
        {% assign link = nil %}
        {% assign text = nil %}
        {% assign icon = nil %}
        {% assign tooltip = nil %}
      {% endfor %}
      {% endif %}
    </p>
    <div class="d-flex justify-content-between flex-column flex-md-row align-items-start align-items-md-center">
      <div class="flow-root flex-shrink-0 me-1">
        <a
          href="{{include.website}}"
          rel="noopener"
          aria-label="Website"
          class="btn btn-secondary mt-1 me-1">
          <i aria-hidden="true" class="fas fa-external-link-alt fa-fw"></i>
          Website
        </a>
        {% if include.privacy-policy %}
        <a
          href="{{include.privacy-policy}}"
          rel="noopener"
          aria-label="Privacy Policy"
          class="btn btn-primary mt-1 me-1">
          <i aria-hidden="true" class="fas fa-book fa-fw"></i>
          Privacy Policy
        </a>
        {% endif %}
        {% if include.tor %}
          <a
            href="{{include.tor}}"
            rel="noopener"
            class="btn btn-info mt-1 me-1"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Requires specific software to access: torproject.org">
            <span class="ptio-tor text-light"></span>
          </a>
        {% endif %}
        {% if include.i2p %}
          <a
            href="{{include.i2p}}"
            rel="noopener"
            class="btn btn-primary mt-1 me-1"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Requires specific software to access: geti2p.net">
            <span class="ptio-i2p-garlic text-dark"></span>
          </a>
        {% endif %}
      </div>

      <div class="mt-2">
          {% if include.windows %}
            {% if include.windows != "" %}
              <a href="{{ include.windows }}" aria-label="Windows" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="fab fa-windows fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="fab fa-windows fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.mac %}
            {% if include.mac != "" %}
              <a href="{{ include.mac }}" aria-label="Mac" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="ptio-macos fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="ptio-macos fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.linux %}
            {% if include.linux != "" %}
              <a href="{{ include.linux }}" aria-label="Linux" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="ptio-linux fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="ptio-linux fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.freebsd %}
            {% if include.freebsd != "" %}
              <a href="{{ include.freebsd }}" aria-label="FreeBSD" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="fab fa-freebsd fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="fab fa-freebsd fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.openbsd %}
            {% if include.openbsd != "" %}
              <a href="{{ include.openbsd }}" aria-label="OpenBSD" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="ptio-openbsd fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="ptio-openbsd fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.netbsd %}
            {% if include.netbsd != "" %}
              <a href="{{ include.netbsd }}" aria-label="NetBSD" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="ptio-netbsd fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="ptio-netbsd fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.firefox %}
            {% if include.firefox != "" %}
              <a href="{{ include.firefox }}" aria-label="Firefox" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="fab fa-firefox fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="fab fa-firefox fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.chrome %}
            {% if include.chrome != "" %}
              <a href="{{ include.chrome }}" aria-label="Chrome" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="fab fa-chrome fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="fab fa-chrome fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.safari %}
            {% if include.safari != "" %}
              <a href="{{ include.safari }}" aria-label="Safari" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="fab fa-safari fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="fab fa-safari fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.opera %}
            {% if include.opera != "" %}
              <a href="{{ include.opera }}" aria-label="Opera" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="fab fa-opera fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="fab fa-opera fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.edge %}
            {% if include.edge != "" %}
              <a href="{{ include.edge }}" aria-label="Edge" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="fab fa-edge fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="fab fa-edge fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.fdroid %}
            {% if include.fdroid != "" %}
              <a href="{{ include.fdroid }}" aria-label="F-Droid" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="ptio-f-droid fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="ptio-f-droid fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.googleplay %}
            {% if include.googleplay != "" %}
              <a href="{{ include.googleplay }}" aria-label="Google Play" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="fab fa-google-play fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="fab fa-google-play fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.android %}
            {% if include.android != "" %}
              <a href="{{ include.android }}" aria-label="Android" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="fab fa-android fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="fab fa-android fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.ios %}
            {% if include.ios != "" %}
              <a href="{{ include.ios }}" aria-label="iOS" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="ptio-ios fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="ptio-ios fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.sailfish %}
            {% if include.sailfish != "" %}
              <a href="{{ include.sailfish }}" aria-label="Sailfish" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="ptio-sailfish-os fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="ptio-sailfish-os fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {% if include.web %}
            {% if include.web != "" %}
              <a href="{{ include.web }}" aria-label="Web" rel="noopener" class="text-decoration-none text-decoration-none">
                <i aria-hidden="true" class="fas fa-globe-americas fa-2x fa-fw d-inline pe-1"></i>
              </a>
            {% else %}
              <i aria-hidden="true" class="fas fa-globe-americas fa-2x fa-fw d-inline pe-1"></i>
            {% endif %}
          {% endif %}

          {{include.icon1}}
          {{include.icon2}}
          {{include.icon3}}

          {% if include.github %}
            <a href="{{include.github}}" aria-label="GitHub" rel="noopener" class="text-decoration-none text-decoration-none">
              <i aria-hidden="true" class="fab fa-github fa-2x fa-fw d-inline"></i>
            </a>
          {% endif %}

          {% if include.gitlab %}
            <a href="{{include.gitlab}}" aria-label="GitLab" rel="noopener" class="text-decoration-none text-decoration-none">
              <i aria-hidden="true" class="fab fa-gitlab fa-2x fa-fw d-inline"></i>
            </a>
          {% endif %}

          {% if include.git %}
            <a href="{{include.git}}" aria-label="Git" rel="noopener" class="text-decoration-none text-decoration-none">
              <i aria-hidden="true" class="fab fa-git-square fa-2x fa-fw d-inline"></i>
            </a>
          {% endif %}

          {% if include.source %}
            <a href="{{include.source}}" aria-label="Source" rel="noopener" class="text-decoration-none text-decoration-none">
              <i aria-hidden="true" class="fas fa-code-branch fa-2x fa-fw d-inline"></i>
            </a>
          {% endif %}

      </div>
    </div>
  </div>
</div>
<br>
